<h2> Lista de productos </h2>

{{#each product}}
    <h4>{{this.title}}</h4>
    <p>{{this.description}}</p>
    <p>{{this.price}}</p>
    <p>{{this.code}}</p>
    <p>{{this.stock}}</p>
{{/each}}